@import "~bootstrap/scss/bootstrap";
@import "partials/variables";

#image_preview {
    max-height: 400px;
    max-width: 200px;
}

.delete-image-button {
    cursor: pointer;
}

.favicon{
    width: 50px;
    aspect-ratio: 1;
    margin-right: 5px;
}