
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// RESTAURANT
.restaurant_container {
  color: #f8ecec;
  font-family: Roboto;
  padding:50px 0;
  background: linear-gradient(to bottom right, #151515 ,#5c5c5c );
  min-height: 100vh;
  height: 100%;
}
.restaurant_image{
  width: 400px;
  aspect-ratio: 1;
  border-radius: 10px;
}
.restaurant_type{
  padding: 5px 10px;
  background-color: rgba($color: #222, $alpha: .9);
  border-radius: 5px;
}
.restaurant_description{
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
}
.restaurant_route{
  color: #222;
  font-weight: 800;
  text-decoration: none;
}
.restaurant_route_container{
  background-color: rgba($color: #ebe0e0, $alpha: .9);
  padding: 5px 10px;
  border-radius: 5px;
  width: 25%;
  text-align: center;
}
.restaurant_route_container:hover,
.home_li:hover{
  transform: scale(1.1);
  transition: 0.3s linear;
}
.specifications{
  display: block;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #b0b0b0;
}

// FOOD
.food_container {
  color: #444;
  font-family: Roboto;
  padding:30px 0;
  background: linear-gradient(to bottom right,#cdcaca, #151515 );
  min-height: 100vh;
  height: 100%;
}
.food_modal {
  color: #e8e7e7;
  font-family: Roboto;
  font-weight: 700;
  background: linear-gradient(to bottom right, #262626 ,#727272);
}
.food {
  max-width: 800px;
  min-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
  
  display: flex;
  justify-content: space-between;
}
.food__hero {
  display: flex;
  justify-content: center;
  align-items:center ;
}
.food__image{
  max-width: 400px;
  max-height: 400px;
}
.food__content {
  flex: 1;
  background: rgb(224, 224, 224);
  padding: 25px 20px;
  max-width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}
figure:hover{
  transform: scale(1.02);
  transition: 0.2s linear;
}
.legenda_content {
  color: #ebe9e9;
  font-family: Roboto;
  padding: 15px;
  border-radius: 15px;
  box-shadow:5px 8px 8px #8e9090 ;
  background: linear-gradient(to bottom right, #8e9090, #141414);
}
.legenda_content:hover{
  transform: scale(1.05);
  transition: 0.2s linear;
}
.food__routes {
  flex: 0 0 50px;
  background: linear-gradient(to bottom, #393939, #8e9090);
  writing-mode: vertical-rl;
  color: white;
  font-size: 18px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_route{
  text-decoration: none;
  color: #f8f2f2;
}
.food__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.food__heading {
  font-size: 20px;
  margin-right: auto;
}
.food__description {
  font-size: 14px;
}
.food__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  width: 100%;
}
.emoji {
  font-size: 20px;
  margin-right: 3px;
}
// Visibility
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  transform: scale(0.6);
}

.slider.round:before {
  border-radius: 50%;
}

.required-fields {
  font-weight:900;
  display: inline-block;
  color: #222;
}